{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div class="profile-patron">
        {% for mission in missions %}
            <p class="text-dark mb-1">{{ mission.descriptif }}</p>
            <p class="text-dark mb-1">{{ mission.date_debut|format_datetime('medium', 'short') }}</p>
            <p class="text-dark mb-1">{{ mission.date_fin|format_datetime('medium', 'short') }}</p>
            <p class="text-dark mb-1">{{ mission.date_facture|format_datetime('medium', 'short') }}</p>
            <label for="facture">{{ mission.facture }}</label>
            <input type="file" name="facture" id="facture">
        {% endfor %}
    </div>
{% endblock %}
